<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <urlMappings enabled="true">
      <add url="~/Login"  mappedUrl="~/Login.aspx"/>
      <add url="~/Reset-Password"  mappedUrl="~/Reset-Password.aspx"/>
      <add url="~/Register"  mappedUrl="~/Register.aspx"/>
      <add url="~/Dashboard"  mappedUrl="~/Dashboard.aspx"/>
      <add url="~/Books"  mappedUrl="~/Books.aspx"/>
      <add url="~/Book-Profile"  mappedUrl="~/Book-Profile.aspx"/>
      <add url="~/Add-Book"  mappedUrl="~/Add-Book.aspx"/>
      <add url="~/Book-buy-History"  mappedUrl="~/Book-buy-History.aspx"/>
      <add url="~/Students"  mappedUrl="~/Students.aspx"/>
      <add url="~/Student-Profile"  mappedUrl="~/Student-Profile.aspx"/>
      <add url="~/Issue-Book"  mappedUrl="~/Issue-Book.aspx"/>
      <add url="~/Return-Book"  mappedUrl="~/Return-Book.aspx"/>
      <add url="~/Books-on-Read"  mappedUrl="~/Book-on-Read.aspx"/>
      <add url="~/Book-Requests"  mappedUrl="~/Book-Requests.aspx"/>
      <add url="~/Book-Suggestions"  mappedUrl="~/Book-Suggestions.aspx"/>
      <add url="~/Book-Transctions"  mappedUrl="~/Book-Transctions.aspx"/>
      <add url="~/Pending-Books"  mappedUrl="~/Pending-Books.aspx"/>
      <add url="~/Activity-Log"  mappedUrl="~/Activity-Log.aspx"/>
      <add url="~/Settings"  mappedUrl="~/Settings.aspx"/>
    </urlMappings>
  </system.web>
</configuration>